{% extends 'base.html' %}

{% block content %}
<h1 class="mt-4">CLIENTE:</h1>

<div class="custom-form container mt-4">
    <form>
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="usuario" aria-describedby="texto">
        </div>

        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono:</label>
            <input type="tel" class="form-control" id="telefono">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email">
        </div>

        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección:</label>
            <input type="text" class="form-control" id="direccion">
        </div>

        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha de registro:</label>
            <input type="datetime-local" class="form-control" id="fecha">
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}
