{% extends 'base.html' %}

{% block content %}
<h1 class="mt-4">PAGO:</h1>

<div class="custom-form container mt-4">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Orden:</label>
            <select name="pedido_id" class="form-control">
                {% for orden in ordenes %}
                <option value="{{ orden.id }}">Orden #{{ orden.id }} - {{ orden.cliente.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Dirección de Envío:</label>
            <input type="text" name="direccion_envio" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Fecha de Envío:</label>
            <input type="date" name="fecha_envio" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Estado:</label>
            <select name="estado" class="form-control">
                <option value="PAGADO">Pagado</option>
                <option value="NO_PAGADO">No pagado</option>
                <option value="EN_PROCESO">En proceso</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Pago</button>
    </form>
</div>
{% endblock %}
